@media screen and (min-height: 1200px) {
    .pageHeader {
        margin-top: 13rem;
    }
}

@media screen and (min-height: 1000px) {
    .pageHeader {
        margin-top: 15rem;
    }
}

@media screen and (min-height: 898px) {
    .pageHeader {
        margin-top: 12rem;
    }
}

@media screen and (min-height: 700px) {
    .pageHeader {
        margin-top: 10rem;
    }
}

@media screen and (min-height: 600px) {
    .pageHeader {
        margin-top: 8rem;
    }
}

.pageFooter {
    height: 92vh;
}