.separatorBottom {
    top: unset !important;
    bottom: unset !important;
}

.pageHeader {
    margin-top: 60px;
}

.sectionSeparator {
    padding-top: 3.5rem;
}

.extraInfo {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.459) !important;
    cursor: pointer;
}

.fillBackgroundGradient {
    fill: linear-gradient(150deg, #353b48 15%, #1f1f1f 70%, #2f3640 94%);
}

.btnEmail {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.95rem;
    text-transform: lowercase !important;
    margin-top: 30px !important;
}

.btnEmail i {
    font-size: 1rem !important;
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

.btnEmail:hover {
    transform: none !important;
}

.tagline {
    padding-top: 5px;
    font-size: 1.325rem !important;
    font-weight: 100 !important;
}

.workTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.workTagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.325rem !important;
    font-weight: 300 !important;
    letter-spacing: -0.01rem;
}

.header {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(150deg, #2f3640 65%, #353b48, 65%);
    background-size: cover;
    background-position: 0% 34.5%;
}
  
.headerMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
}

.mainIcon {
    width: 3.25rem !important;
    height: 3.25rem !important;
    font-size: 1.25rem !important;
    background-color: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%) !important;
    box-shadow: none !important;
}

.mainIcon:hover {
    transform: none !important;
}

.mainIconContainer {
    padding-top: 15px;
}

.iconBar {
    margin-top: 1rem !important;
}

.containerFix {
    padding-top: 0rem !important;
    height: 100vh !important;
}

.aboutUsCardFix {
    margin: -15px !important;
}

.nameTitle {
    font-family: 'Roboto Mono', monospace !important;         
    font-size: 2.65em;
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 1em;
}

.cardIconPosition {
    padding-left: 5px;
    padding-bottom: 2px;
    margin-top: 0.75rem;
}

.sectionIconPosition {
    padding-left: 10px;
    padding-bottom: 2px;
    margin-top: 0.375rem;
}

.rgCard {
    padding: 20px;
}

.rgCardSm {
    padding: 12px;
}

.skillList {
    list-style: none !important;
    margin-left: -41px;
}

.cardSectionTitle {
    font-family: 'Roboto Mono', monospace !important;         
    letter-spacing: -0.055em !important;
    font-weight: 900 !important;
    font-size: 20px !important;
}

.iconDpositionSpecialized {
    margin-right: -27px;
    margin-top: -2px;
}

.iconHwSpecialized {
    width: 350px;
    height: 300px;
}

.workCardIcon {
    vertical-align: baseline;
    margin-bottom: -2px;
    margin-right: 8px;
}

.featuredWorkCardIcon {
    vertical-align: sub;
    margin-bottom: -2px;
    margin-right: 8px;
}

.cobaltBoxSpacing {
    margin-top: 1.4rem !important;
}

.rowCardTopSpacing {
    margin-top: 3rem !important;
    margin-right: -1.25rem !important;
}

.rowCardTopSpacingSecond {
    margin-top: 3rem !important;
    margin-right: -0.25rem !important;
}

.rowCardSpacing {
    margin-top: 0.5rem !important;
    margin-right: -1.25rem !important;
}

.experienceCompanyName {
    font-family: 'Roboto Mono', monospace !important;         
    font-size: 1.15rem !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
}

.experienceCompanyTab img {
    border-radius: 50% !important;
}

.experienceCompanyTab {
    border: 3px solid #fff !important;
    border-radius: 50% !important;
    padding: 0px !important;
}

.experienceCompanyTabActive {
    border-color: #7795f8 !important;
}