.navBrandText {
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize !important;
}

.navBrandImg {
    width: 50px !important;
    height: 50px !important;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important;
}

.navLink i {
    font-size: 1rem;
}

.navBrandMobileText {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
}

.navBrandMobileCloser {
    vertical-align: top !important;
}

.navLink i {
    font-size: 1rem;
    margin-right: 5px;
}